<!-- profile.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <!-- Подключение Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h2 class="mt-5 mb-4 text-center">Profile</h2>
      <p>Welcome, {{ username }}!</p>
      <a href="{% url 'logout' %}" class="btn btn-secondary">Logout</a>
    </div>
    <!-- Подключение Bootstrap JS и зависимостей -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
